<!DOCTYPE html>
<html>
  <head>
    <title>Tuan kul</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  </head>
  <body>
    <main>
      <% include template/admin-header %>
      <div class ="row"> 
        <% include template/admin-menu %>
        <div class = "col-sm-10 main-content">
          <h1>Welcome admin page <%= title %></h1>
        </div>
      </div>
    </main>
  </body>
  <script src="/javascripts/javascript.js"></script>
  <script src="https://use.fontawesome.com/b59cf34d3a.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
</html>