body {
  box-sizing: auto;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* ------------------------START HEADER--------------------- */
.logo-header img {
  width: 100px;
  height: 50px;
  margin-left: 45px;
  margin-top: 5px;
}
.logo-title {
  font-size: 20px;
  display: inline;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 100;
}
.logo-header a:hover,
.logo-header a:active {
  text-decoration: none;
}
.logo-header {
  background-color: rgb(162, 223, 255);
  height: 60px;
  box-shadow: 0px 10px rgb(185, 229, 253);
}
.menu-header, .avatar-header {
  background-color: rgb(246,251,254);
  height: 60px;
  margin-bottom: 2px;
}

.icon-menu, .icon-search {
  margin-left: 7px;
  margin-top: 15px;
  margin-top: 20px;
}

.icon-small:hover,
.icon-small:active {
  cursor: pointer;
  color: rgb(162, 223, 255);
}

.icon-search {
  position: absolute;
  margin-left: 1370px;
  margin-top: 21px;
}

.content-search {
  position: absolute;
  width: 400px;
  border-radius: 30px;
  border: 1px solid rgb(162, 223, 255);
  font-size: 12px;
  height: 32px;
  padding: 0px 20px 0px 20px;
  margin-top: 14px;
  margin-left: 1000px;
  outline: 0;
}
.content-search:hover,
.content-search:active {
  border: 1px solid rgb(113, 205, 255);
}

.avatar-header img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-left: 70px;
  margin-top: 8px;
}
.avatar-header img:hover,
.avatar-header img:active {
  cursor: pointer;
}
.avatar-header .admin-header {
  position: absolute;
  font-size: 14px;
  margin-left: -12px;
  margin-top: 12px;
}
.personal-info-header {
  position: absolute;
  margin-top: -42px;
  margin-left: -55px;
  display: none;
}
.personal-info-header li {
  font-size: 12px;
  width: 80px;
  list-style: none;
  text-align: center;
  margin-top: 1px;
  background-color: rgb(208, 237, 255);
  border: 1px solid rgb(246,251,254);
  border-radius: 3px;

}
.personal-info-header li a {
  text-decoration: none;
  font-style: italic;
  font-weight: 700;
  transition: border-bottom 1s;/* thời gian hiển thị của border-bottom ;*/
  color: black;
}
.personal-info-header li:hover,
.personal-info-header li:active {
  background-color: rgb(162, 223, 255);
  cursor: pointer;
}
.run-header {
  font-weight: bold;
  position: absolute;
  animation: run-header 8s infinite;
  margin-top: -27px;
  color: rgb(162, 223, 255);
}
@keyframes run-header {
    from {left: 50px;}
    to {left: 1050px;}
}
/* ------------------------END----------------------------- */
.main-menu {
  background-color: rgb(162, 223, 255);
  height: 914px;
  position: relative;
  padding-right: 0px !important;
}
.main-auth-list {
  margin-top: 10px;
  font-size: 20px;
  margin-left: -110px;
 
}
.main-auth-list li{
  list-style: none;
  margin-top: 17px;
}
.main-auth-list li a{
  margin-top: 10px;
  color: rgb(246,251,254);
}
.main-auth-list li a:hover{
  background-color: rgb(132, 212, 255);
  border-radius: 10px;
  padding : 10px 40px 10px 20px;/*tren phai duoi trai*/
  color: black;
  text-decoration: none;
}
.main-menu-manager-list {
  margin-top: 10px;
  font-size: 20px;
  margin-left: -110px;
 
}
.main-menu-manager-list li{
  list-style: none;
  margin-top: 17px;
}
.main-menu-manager-list li a{
  margin-top: 10px;
  color: rgb(246,251,254);
}
.main-menu-manager-list li a:hover{
  background-color: rgb(132, 212, 255);
  border-radius: 10px;
  padding : 10px 40px 10px 20px;/*tren phai duoi trai*/
  color: black;
  text-decoration: none;
}
.parent-li {
  margin-bottom: 10px;
  text-align: center;
}
.small-icon {
  font-size: 20px !important;
}
.active {
  width: 200px;
}
h3 {
  margin-top: 30px !important;
  padding-left: 30px;
  background-color: rgb(208, 237, 255);
  color: black;
}
.main-auth-icon {
  position: absolute;
  margin-top: -30px;
  margin-left: 255px;
}
.main-auth-icon:hover {
  cursor: pointer;
  font-size: 20px;
  margin-top: -33px;
  color: rgb(132, 212, 255);
}
.menu-manager-icon {
  position: absolute;
  margin-top: -30px;
  margin-left: 255px;
}
.menu-manager-icon:hover {
  cursor: pointer;
  font-size: 20px;
  margin-top: -33px;
  color: rgb(132, 212, 255);
}
hr {
  background-color:  rgba(255, 255, 255, 0.9);
}
.category-manager {
  margin-left: 30px;
}
.dataTables_filter input {
  padding: 0px 20px 0px 10px;
  border-radius: 10px;
  outline: 0;
  font-size: 14px;
  height: 30px;
  width: 200px;
  border: 1px solid rgb(113, 205, 255);
}
.dataTables_filter input::before {
  content: "Search";
}
.dataTables_filter label{
  color: transparent;
}
.card {
  margin-top: 20px;
  margin-right: 13px;
}
.add-user {
margin-top: 27px;
}
.add-user .btn-add-user {
  margin-left: 1530px;
  color: white;
}
